.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
 
  border: outset 8px rgb(54, 16, 16);
  border-radius:5px;
  box-shadow:  -16px  16px  32px #000;
  display: flex;
  background: url('../../globo_icon.svg');
  width:800px;
  height:300px;
}
.boxTwo div{

  border: solid 3px #000;
  display: flex;
  background: rgb(149, 40, 40);
  width:800px;
  height:50px
}

	.butRetaner{
  border: solid 1px #000;
  width: 190px;
  margin-top: 6px;
  margin-left: 40px;
  border-radius:5px;
  box-shadow: 5px 10px 15px #000;
  background: #ffe6e6;
      }
      .butRetaner a {
        text-decoration:none;
  
      }